# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=asyncflow
DATABASE_URL=postgresql://user:password@localhost:5432/asyncflow?schema=public

# RabbitMQ Configuration
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Application Configuration
NODE_ENV=development
PORT=3000