# RabbitMQ configuration

RABBITMQ_URL=amqp://guest:guest@localhost:5672

# API configuration

PORT=3000
NODE_ENV=development

# Database configuration

DATABASE_URL="postgresql://user:password@localhost:5432/asyncflow?schema=public"